h1{
    text-align: center;
<<<<<<< Updated upstream
    color: black;

}

.stromecek{
    width:auto; 
    height:auto;
=======
    color: pink;
    background-color: black;
    font-size: xx-large;
>>>>>>> Stashed changes
}