h1{
    text-align: center;
    color: black;

}

.stromecek{
    width:auto; 
    height:auto;
    color: pink;
    background-color: black;
    font-size: xx-large;
}
.button{
    width:45px;
    height:45px;
    background:url(ig.jpg)
}