@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Noto+Serif&family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

body{ 
    position: middle;
background-color: black;
}
h1{

color:white;
text-align: center;
font-size: 50px;


}
.A
{
width: auto;
height: auto;
}
h2
{
    color:white;
	text-align: center;
	
}
p
{
color:white;
text-align: center;
float: middle;

}

.icon-button {
	background-color: black;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #C13584;
}
.facebook span {
	background-color: #3B5998;
}

.icon-button i {
	background: none;
	color: white;
  left: 0;
	height: 3.6rem;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #833AB4;
}
.icon-button .icon-facebook {
	color: #3B5998;
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook
 {
  color: white;
}
.img-prvni
{
	width: 300px;
	
	float: right;
}
.insta
{
	position:relative; right:200px; top:130px;
	

}
.fackbook{
	position:relative; left:650px; top: 70px;
	
}
.img-dva{
	width: 300px;
	float: left;}
